@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
.menu {
  padding: 46px 0;
}
.menu .search {
  margin-left: 70px;
}
.menu .search input {
  background: #d0d0d2;
  border: none;
  box-shadow: none;
}
.menu .search input::-moz-placeholder {
  color: #a7a7a7;
}
.menu .search input::placeholder {
  color: #a7a7a7;
}
.menu .search .s_btn {
  border-color: #f46b5b;
  background: #f46b5b;
}
.menu .search .s_btn span {
  color: #fff;
}
.menu .menu_list {
  margin-left: 50px;
  gap: 26px;
}
.menu .menu_list li a {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #363636;
  color: #383838;
  transition: all linear 0.3s;
}
.menu .menu_list li a:hover {
  color: #f46b5b;
}
.menu .menu_chart ul {
  display: flex;
  align-items: center;
  gap: 32px;
}
.menu .menu_chart ul li {
  position: relative;
}
.menu .menu_chart ul li p {
  position: absolute;
  top: -15px;
  right: -18px;
  background: #f46b5b;
  color: #fff;
  padding: 2px 6px;
  border-radius: 50%;
}
.menu .menu_chart ul li a {
  font-size: 28px;
  color: #000000;
  transition: all linear 0.3s;
}
.menu .menu_chart ul li a:hover {
  color: #f46b5b;
}

#categories_banner {
  padding: 40px 0 120px;
}
#categories_banner .menu_tag {
  display: flex;
  gap: 16px;
  align-items: center;
  color: #a7a7a7;
}
#categories_banner .menu_tag a {
  display: block;
  color: #a7a7a7 !important;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #363636;
}
#categories_banner .menu_tag .categories {
  color: #f46b5b !important;
}
#categories_banner .categories_heading {
  text-align: center;
  padding-top: 48px;
}
#categories_banner .categories_heading h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: 800;
  color: #383838;
}
#categories_banner .categories_heading p {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #363636;
  width: 625px;
  margin: 0 auto;
  padding: 24px 0 80px;
}
#categories_banner .cat_menu {
  padding: 32px;
  border: 1px solid #a7a7a7;
  border-radius: 16px;
}
#categories_banner .cat_menu .all {
  border-bottom: 1px solid #a7a7a7;
  padding-bottom: 32px;
}
#categories_banner .cat_menu .all h4 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #363636;
  font-weight: 800;
  padding-bottom: 32px;
}
#categories_banner .cat_menu .all ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 300px;
  overflow-y: scroll;
  /* width */
  /* Track */
  /* Handle */
}
#categories_banner .cat_menu .all ul::-webkit-scrollbar {
  width: 6px;
}
#categories_banner .cat_menu .all ul::-webkit-scrollbar-track {
  background: #a7a7a7;
}
#categories_banner .cat_menu .all ul::-webkit-scrollbar-thumb {
  background: #f46b5b;
}
#categories_banner .cat_menu .all ul li {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #363636;
  font-size: 16px;
  padding-right: 50px;
}
#categories_banner .cat_menu .all ul li span {
  color: #a7a7a7;
}
#categories_banner .cat_menu .price_accordion {
  padding: 32px 0 16px;
  border-bottom: 1px solid #a7a7a7;
}
#categories_banner .cat_menu .price_accordion .accordion-item {
  border: none;
}
#categories_banner .cat_menu .price_accordion .accordion-item h2 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #363636;
}
#categories_banner .cat_menu .price_accordion .accordion-item h2 .accordion-button {
  background-color: transparent;
  border-bottom: none;
}
#categories_banner .cat_menu .price_accordion .accordion-item h2 .accordion-button:not(.collapsed) {
  background-color: transparent;
}
#categories_banner .cat_menu .price_accordion .accordion-item h2 .accordion-button:focus {
  border-color: transparent;
  box-shadow: none;
}
#categories_banner .cat_menu .price_accordion .accordion-body .progress {
  width: 100%;
  height: 10px;
  margin: 16px 0 24px;
}
#categories_banner .cat_menu .price_accordion .accordion-body .progress .progress-bar {
  background-color: #f46b5b;
}
#categories_banner .cat_menu .price_accordion .accordion-body p {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #363636;
  font-size: 16px;
  color: #a7a7a7;
}
#categories_banner .cat_menu .price_accordion .accordion-body p span {
  color: #363636;
  font-weight: 500;
}
#categories_banner .cat_menu .location_accordion {
  padding: 32px 0 16px;
  border-bottom: 1px solid #a7a7a7;
}
#categories_banner .cat_menu .location_accordion .accordion-item {
  border: none;
}
#categories_banner .cat_menu .location_accordion .accordion-item h2 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #363636;
}
#categories_banner .cat_menu .location_accordion .accordion-item h2 .accordion-button {
  background-color: transparent;
  border-bottom: none;
}
#categories_banner .cat_menu .location_accordion .accordion-item h2 .accordion-button:not(.collapsed) {
  background-color: transparent;
}
#categories_banner .cat_menu .location_accordion .accordion-item h2 .accordion-button:focus {
  border-color: transparent;
  box-shadow: none;
}
#categories_banner .cat_menu .location_accordion .accordion-item .accordion-body form {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #363636;
  color: #a7a7a7;
  font-size: 16px;
}
#categories_banner .cat_menu .location_accordion .accordion-item .accordion-body form input {
  margin-right: 16px;
}
#categories_banner .cat_menu .rating_accordion {
  padding: 32px 0 16px;
  border-bottom: 1px solid #a7a7a7;
}
#categories_banner .cat_menu .rating_accordion .accordion-item {
  border: none;
}
#categories_banner .cat_menu .rating_accordion .accordion-item h2 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #363636;
}
#categories_banner .cat_menu .rating_accordion .accordion-item h2 .accordion-button {
  background-color: transparent;
  border-bottom: none;
}
#categories_banner .cat_menu .rating_accordion .accordion-item h2 .accordion-button:not(.collapsed) {
  background-color: transparent;
}
#categories_banner .cat_menu .rating_accordion .accordion-item h2 .accordion-button:focus {
  border-color: transparent;
  box-shadow: none;
}
#categories_banner .cat_menu .rating_accordion .accordion-item .accordion-body form {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #363636;
  color: #ffd687;
  font-size: 16px;
}
#categories_banner .cat_menu .rating_accordion .accordion-item .accordion-body form input {
  margin-right: 16px;
}
#categories_banner .cat_menu .filter_accordion {
  padding: 32px 0 16px;
  border-bottom: 1px solid #a7a7a7;
}
#categories_banner .cat_menu .filter_accordion h2 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #363636;
}
#categories_banner .cat_menu .filter_accordion h2 .accordion-button {
  background-color: transparent;
  border-bottom: none;
}
#categories_banner .cat_menu .filter_accordion h2 .accordion-button:not(.collapsed) {
  background-color: transparent;
}
#categories_banner .cat_menu .filter_accordion h2 .accordion-button:focus {
  border-color: transparent;
  box-shadow: none;
}
#categories_banner .cat_menu .filter {
  text-align: center;
  padding-top: 56px;
}
#categories_banner .cat_menu .filter a {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #363636;
  font-size: 16px;
  color: #fff;
  padding: 12px 60px;
  background: #f46b5b;
  border: 1px solid #f46b5b;
  transition: all linear 0.3s;
}
#categories_banner .cat_menu .filter a:hover {
  background: transparent;
  color: #f46b5b;
}
#categories_banner .cat_menu .filter button {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #363636;
  color: #f46b5b;
  font-size: 16px;
  background: transparent;
  border: none;
  padding-top: 32px;
}
#categories_banner .categories_details {
  text-align: center;
  display: flex;
  gap: 36px;
  flex-wrap: wrap;
}
#categories_banner .categories_details .cat_items {
  padding: 15px 50px;
  border: 1px solid #a7a7a7;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
#categories_banner .categories_details .cat_items img {
  width: 46px;
  height: 46px;
}
#categories_banner .categories_details .cat_items p {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #363636;
  font-size: 14px;
  padding-top: 10px;
}
#categories_banner .cat_brand {
  padding: 80px 0;
}
#categories_banner .cat_brand h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: 800;
  color: #383838;
}
#categories_banner .cat_brand .brand {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 32px;
}
#categories_banner .cat_brand .brand .name a {
  font-size: 28px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  color: rgba(56, 56, 56, 0.4666666667);
}
#categories_banner .product_heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 32px;
}
#categories_banner .product_heading h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: 800;
  color: #383838;
  font-size: 24px;
}
#categories_banner .product_heading a {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #363636;
  color: #f46b5b;
}
#categories_banner .product_list {
  padding: 26px;
  border: 1px solid #a7a7a7;
  border-radius: 16px;
}
#categories_banner .product_list img {
  width: 100%;
  height: 160px;
  border-radius: 16px;
}
#categories_banner .product_list .list_text {
  text-align: center;
  padding-top: 32px;
}
#categories_banner .product_list .list_text h4 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #363636;
  font-size: 16px;
  font-weight: 500;
}
#categories_banner .product_list .list_text h5 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #363636;
  color: #f46b5b;
  padding-top: 10px;
  font-size: 16px;
}
#categories_banner .product_list .list_text .details {
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #363636;
  color: #a7a7a7;
  gap: 10px;
  margin-top: 16px;
}
#categories_banner .product_list .list_text .details span {
  display: flex;
  gap: 10px;
  padding-right: 10px;
  border-right: 1px solid #a7a7a7;
}
#categories_banner .product_list .list_text .details span .star {
  color: #ffd687;
}
#categories_banner .product_list .list_text .add {
  display: flex;
  align-items: last baseline;
  gap: 15px;
  justify-content: center;
}
#categories_banner .product_list .list_text .add a {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #363636;
  font-size: 16px;
  padding: 10px 22px;
  background: #f46b5b;
  border: 1px solid #f46b5b;
  color: #fff;
  border-radius: 8px;
  margin-top: 24px;
  transition: all linear 0.3s;
}
#categories_banner .product_list .list_text .add a:hover {
  background: transparent;
  color: #f46b5b;
}
#categories_banner .product_list .list_text .add span {
  color: #a7a7a7;
}
#categories_banner .last_row {
  margin-top: 32px;
}

#join {
  padding: 70px 0;
  background: #f46b5b;
}
#join .join_details {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#join .join_details .join_text {
  padding-top: 30px;
}
#join .join_details .join_text h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: 800;
  color: #383838;
  color: #fff;
  padding-bottom: 16px;
}
#join .join_details .join_text p {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #363636;
  font-size: 16px;
  color: #fff;
}
#join .join_details .input {
  padding: 10px;
  background: #ffffff;
  width: 525px;
  border-radius: 16px;
  margin: 52px auto 0;
  display: flex;
  justify-content: space-between;
}
#join .join_details .input input {
  border: none;
  margin-left: 25px;
}
#join .join_details .input button {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #363636;
  color: #fff;
  padding: 16px 32px;
  background: #383838;
  border: none;
  border-radius: 16px;
  transition: all linear 0.3s;
}
#join .join_details .input button:hover {
  background: #f46b5b;
}/*# sourceMappingURL=categories.css.map */