@import "../variables/variables";
@import "../mixins/mixins";

#about_banner {
  padding: 36px 0 150px;
  .menu_tag {
    display: flex;
    gap: 16px;
    align-items: center;
    color: $border_color;
    a {
      display: block;
      color: $border_color !important;
      @include common_p;
    }
    .about {
      color: $brand_color !important;
    }
  }
  .about_heading {
    text-align: center;
    padding-top: 48px;
    h1 {
      font-size: 56px;
      font-weight: 800;
      font-family: $heading_font;
      color: $primary_color;
      width: 680px;
      margin: 0 auto;
    }
    p {
      @include common_p;
      width: 1056px;
      margin: 0 auto;
      padding: 32px 0 80px;
    }
    .about_img {
      img {
        width: 100%;
        border-radius: 16px;
      }
    }
  }
}
