@import "../variables/variables";
@import "../mixins/mixins";

#about_banner {
  padding: 150px 0;
  .menu_tag {
    display: flex;
    gap: 16px;
    align-items: center;
    a {
      display: block;
      color: $brand_color;
    }
  }
  .about_heading {
    h1 {
      font-size: 56px;
      font-weight: 800;
      font-family: $heading_font;
      color: $primary_color;
      width: 680px;
      margin: 0 auto;
    }
    p {
      @include common_p;
    }
    .about_img {
      img {
        width: 100%;
        border-radius: 16px;
      }
    }
  }
}
