@import "../variables/variables";
@import "../mixins/mixins";

#banner {
  padding-top: 32px;
  padding-bottom: 80px;

  .banner_slide {
    position: relative;
    .pre_arrow {
      position: absolute;
      top: 50%;
      left: 10px;
      transform: translateY(-50%);
      z-index: 999;
      font-size: 24px;
      color: $brand_color;
      padding: 6px 15px;
      background: #fff;
      border-radius: 8px;
    }
    .next_arrow {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      z-index: 999;
      font-size: 24px;
      color: $brand_color;
      padding: 6px 15px;
      background: #fff;
      border-radius: 8px;
    }
    .slick-dots {
      display: flex;
      gap: 10px;
      position: absolute;
      top: 85%;
      left: 50%;
      transform: translateX(-50%);
      .slick-active {
        button {
          height: 10px;
          width: 30px;
          border-radius: 15px;
          background: $brand_color;
        }
      }
      li {
        button {
          font-size: 0;
          height: 10px;
          width: 10px;
          border-radius: 50%;
          border: 0;
        }
      }
    }
    .slide {
      padding: 100px 0;
      border-radius: 32px;
      text-align: center;
      position: relative;
      z-index: 1;
      // overflow: hidden;

      .overly {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: #00000050;
        z-index: -1;
        border-radius: 32px;
      }
      .text {
        h1 {
          font-size: 56px;
          font-weight: 800;
          font-family: $heading_font;
          color: $primary_color;
          width: 680px;
          margin: 0 auto;
          background: #f4e4e4b5;
        }
        p {
          @include common_p;
          line-height: 40px;
          width: 670px;
          margin: 0 auto;
          padding-top: 40px;

          color: $primary_color;
        }
      }
    }
  }
}
