@import "../variables/variables";
@import "../mixins/mixins";
#bolgdetails {
  padding: 48px 0 120px;
  .menu_tag {
    display: flex;
    gap: 16px;
    align-items: center;
    color: $border_color;
    a {
      display: block;
      color: $border_color !important;
      @include common_p;
    }
    .blog {
      color: $brand_color !important;
    }
  }
  .bloglist_heading {
    text-align: center;
    padding-top: 48px;
    h2 {
      @include common_h2;
    }

    p {
      @include common_p;
      width: 625px;
      margin: 0 auto;
      padding: 24px 0 80px;
    }
  }
  .blog_menu {
    .search {
      display: flex;
      align-items: center;
      position: relative;
      span {
        @include common_p;
        color: $border_color;
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
      }
      input {
        border: 1px solid $border_color;
        border-radius: 8px;
        width: 100%;
        height: 50px;
        color: $border_color;
        @include common_p;
        padding-left: 40px;
      }
    }
    .blog_categories {
      margin: 32px 0;
      padding: 32px 32px;
      border: 1px solid $border_color;
      border-radius: 8px;
      h3 {
        @include common_p;
        font-weight: 800;
      }
      ul {
        padding-top: 16px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        li {
          display: flex;
          gap: 10px;
          a {
            @include common_p;
            transition: all linear 0.3s;
            &:hover {
              color: $brand_color;
            }
          }
        }
      }
    }
    .blog_tags {
      padding: 32px;
      border: 1px solid $border_color;
      border-radius: 8px;
      h3 {
        @include common_p;
        font-weight: 800;
        padding-bottom: 16px;
      }
      ul {
        display: flex;
        gap: 8px;
        flex-wrap: wrap;
        li {
          a {
            display: inline-block;
            padding: 16px;
            border: 1px solid $border_color;
            border-radius: 8px;
            @include common_p;
            font-size: 14px;
            transition: all linear 0.3s;
            &:hover {
              color: $brand_color;
            }
          }
        }
      }
    }
    .recent_post {
      padding-top: 64px;
      h3 {
        @include common_p;
        font-weight: 800;
        padding-bottom: 32px;
      }
      .recent_details {
        display: flex;
        gap: 16px;
        align-items: center;
        padding-bottom: 16px;
        .recent_img {
          img {
            width: 60px;
            height: 60px;
            border-radius: 8px;
          }
        }
        .recent_text {
          h6 {
            @include common_p;
            font-size: 14px;
            font-weight: 700;
          }
          p {
            @include common_p;
            font-size: 14px;
            padding-top: 10px;
            span {
              color: $brand_color;
            }
          }
        }
      }
    }
  }
  .bolg_details {
    padding-bottom: 40px;
    h2 {
      @include common_h2;
    }
    ul {
      @include common_p;
      font-size: 16px;
      color: $border_color;
      display: flex;
      align-items: center;
      gap: 24px;
      padding: 16px 0 40px;
    }
    img {
      width: 100%;
      height: 450px;
      border-radius: 16px;
    }
    p {
      padding-top: 40px;
      @include common_p;
    }
    blockquote {
      background: $brand_color;
      padding: 32px;
      @include common_p;
      color: #fff;
      border-radius: 16px;
      margin: 32px 0;
    }
    .social {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 36px 32px;
      border: 1px solid $border_color;
      border-radius: 16px;
      margin-top: 40px;
      .tag {
        h3 {
          @include common_h2;
          font-size: 16px;
          a {
            @include common_p;
            font-size: 16px;
            padding-left: 10px;
            transition: all linear 0.3s;
            &:hover {
              color: $brand_color;
            }
          }
        }
      }
      .share {
        h3 {
          @include common_h2;
          font-size: 16px;
          a {
            @include common_p;
            font-size: 16px;
            padding-left: 10px;
            transition: all linear 0.3s;
            &:hover {
              color: $brand_color;
            }
          }
        }
      }
    }
  }
  .blog_details_post {
    h2 {
      @include common_p;
      font-size: 24px;
      font-weight: 800;
      padding-bottom: 32px;
    }
    .blog_post {
      display: flex;
      gap: 32px;
      .blog_items {
        img {
          border-top-right-radius: 16px;
          border-top-left-radius: 16px;
        }
        .items_text {
          background: #f1f1f1;
          padding: 32px;
          border-bottom-right-radius: 16px;
          border-bottom-left-radius: 16px;
          h4 {
            @include common_p;
            font-weight: 700;
            padding-bottom: 16px;
          }
          p {
            @include common_p;
            color: $border_color;
          }
          .admin {
            @include common_p;
            padding-top: 32px;
            span {
              color: $brand_color;
            }
          }
        }
      }
    }
  }
  .blog_commnent {
    padding: 40px 0;
    h3 {
      @include common_p;
      font-size: 24px;
      font-weight: 800;
    }
    .comment_items {
      padding: 32px 0;
      .person {
        display: flex;
        gap: 16px;

        img {
          width: 64px;
          height: 64px;
          border-radius: 8px;
        }
        h5 {
          @include common_p;
          font-weight: 800;
        }
        p {
          @include common_p;
          font-size: 16px;
          color: $border_color;
          padding-top: 8px;
        }
      }
      p {
        padding-top: 20px;
        @include common_p;
      }
    }
  }
  .comment_from {
    h3 {
      @include common_h2;
      font-size: 24px;
    }
    .form {
      padding-top: 32px;
      .cmnt {
        @include common_p;
        padding-bottom: 16px;
      }
      textarea {
        width: 100%;
      }
      .info {
        display: flex;
        gap: 32px;
        // justify-content: center;
        align-items: center;
        padding: 32px 0;
        .info_items {
          label {
            @include common_p;
            padding-bottom: 16px;
          }
          input {
            width: 450px;
            height: 40px;
            margin-right: 15px;
            display: block;
          }
        }
      }
      .submit {
        text-align: right;
        @include common_p;
        color: #fff;
        padding: 12px 50px;
        background: $brand_color;
        border: 1px solid $brand_color;
        height: 100%;
        transition: all linear 0.3s;
        &:hover {
          color: $brand_color;
          background: transparent;
        }
      }
    }
  }
}
