@import "../variables/variables";
@import "../mixins/mixins";

#categories_banner {
  padding: 40px 0 160px;
  .menu_tag {
    display: flex;
    gap: 16px;
    align-items: center;
    color: $border_color;
    a {
      display: block;
      color: $border_color !important;
      @include common_p;
    }
    .categories {
      color: $brand_color !important;
    }
  }
  .categories_heading {
    text-align: center;
    padding-top: 48px;
    h2 {
      @include common_h2;
    }
    p {
      @include common_p;
      width: 625px;
      margin: 0 auto;
      padding: 24px 0 80px;
    }
  }
  .cat_menu {
    padding: 32px;
    border: 1px solid $border_color;
    border-radius: 16px;
    .all {
      border-bottom: 1px solid $border_color;
      padding-bottom: 32px;
      h4 {
        @include common_p;
        font-weight: 800;
        padding-bottom: 32px;
      }
      ul {
        display: flex;
        flex-direction: column;
        gap: 16px;
        height: 300px;
        overflow-y: scroll;
        /* width */
        &::-webkit-scrollbar {
          width: 6px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
          background: $border_color;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
          background: $brand_color;
        }
        li {
          @include common_p;
          font-size: 16px;
          padding-right: 50px;
          span {
            color: $border_color;
          }
        }
      }
    }
    .price_accordion {
      padding: 32px 0 16px;
      border-bottom: 1px solid $border_color;
      .accordion-item {
        border: none;
        h2 {
          @include common_p;
          .accordion-button {
            background-color: transparent;
            border-bottom: none;
            &:not(.collapsed) {
              background-color: transparent;
            }
            &:focus {
              border-color: transparent;
              box-shadow: none;
            }
          }
        }
      }
      .accordion-body {
        .progress {
          width: 100%;
          height: 10px;
          margin: 16px 0 24px;
          .progress-bar {
            background-color: $brand_color;
          }
        }
        p {
          @include common_p;
          font-size: 16px;
          color: $border_color;
          span {
            color: $secondary_color;
            font-weight: 500;
          }
        }
      }
    }
    .location_accordion {
      padding: 32px 0 16px;
      border-bottom: 1px solid $border_color;
      .accordion-item {
        border: none;
        h2 {
          @include common_p;
          .accordion-button {
            background-color: transparent;
            border-bottom: none;
            &:not(.collapsed) {
              background-color: transparent;
            }
            &:focus {
              border-color: transparent;
              box-shadow: none;
            }
          }
        }
        .accordion-body {
          form {
            @include common_p;
            color: $border_color;
            font-size: 16px;
            input {
              margin-right: 16px;
            }
          }
        }
      }
    }
    .rating_accordion {
      padding: 32px 0 16px;
      border-bottom: 1px solid $border_color;
      .accordion-item {
        border: none;
        h2 {
          @include common_p;
          .accordion-button {
            background-color: transparent;
            border-bottom: none;
            &:not(.collapsed) {
              background-color: transparent;
            }
            &:focus {
              border-color: transparent;
              box-shadow: none;
            }
          }
        }
        .accordion-body {
          form {
            @include common_p;
            color: #ffd687;
            font-size: 16px;
            input {
              margin-right: 16px;
            }
          }
        }
      }
    }
  }
}
