@import "../variables/variables";
@import "../mixins/mixins";

#fea_product {
  padding: 160px 0;
  .product_heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2 {
      @include common_h2;
    }
    a {
      @include common_p;
      color: $brand_color;
    }
  }
}
