@import "../variables/variables";
@import "../mixins/mixins";

#fea_product {
  padding: 160px 0;
  .product_heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2 {
      @include common_h2;
    }
    a {
      @include common_p;
      color: $brand_color;
    }
  }
  .product_items {
    text-align: center;
    position: relative;
    margin-top: 54px;
    margin-left: 5px;
    img {
      width: 100%;
      height: 350px;
    }
    .new {
      position: absolute;
      top: 20px;
      right: 20px;
      p {
        @include common_p;
        font-size: 14px;
        color: #fff;
        padding: 8px;
        background: #2d9cdb;
        border-radius: 8px;
      }
      .off {
        @include common_p;
        font-size: 14px;
        color: #fff;
        padding: 8px;
        margin-top: 16px;
        background: #bb6bd9;
        span {
          p {
            @include common_p;
            font-size: 14px;
            color: #fff;
            padding: 8px 10px;
            background: #2d9cdb;
            border-radius: 8px;
          }
          display: block;
        }
      }
      .sold {
        background: $primary_color;
      }
    }

    .items_text {
      padding: 32px 10px;
      background: #fff;
      border: 1px solid $border_color;
      border-top: none;
      border-bottom-right-radius: 16px;
      border-bottom-left-radius: 16px;
      h4 {
        @include common_p;
      }
      h5 {
        @include common_p;
        color: $border_color;
        padding-top: 10px;
        padding-bottom: 24px;
        span {
          color: $brand_color;
          padding-left: 10px;
        }
      }
      a {
        @include common_p;
        padding: 10px 26px;
        color: #fff;
        background: $brand_color;
        border: 1px solid $brand_color;
        border-radius: 8px;
        transition: all linear 0.3s;
        &:hover {
          color: $brand_color;
          background: transparent;
        }
      }
    }
  }
}
