@import "../variables/variables";
@import "../mixins/mixins";

#flash_sale {
  background: #f46a5b1b;
  padding: 135px 0;
  .sale_text {
    h2 {
      @include common_h2;
      padding-bottom: 36px;
    }
    p {
      @include common_p;
    }
    ul {
      display: flex;
      gap: 24px;
      flex-wrap: wrap;
      padding-top: 25px;
      padding-bottom: 36px;

      li {
        @include common_p;
        color: $brand_color;
        border: 1px solid $border_color;
        text-align: center;
        border-radius: 16px;
        padding: 8px 18px;
        span {
          display: block;
          color: $secondary_color;
          font-size: 16px;
        }
      }
    }
    h3 {
      font-size: 26px;
      font-family: $primary_font;
      font-weight: 500;
      color: $secondary_color;
      width: 275px;
      padding-bottom: 16px;
    }
    a {
      @include common_p;
      padding: 16px 30px;
      background: $brand_color;
      border-radius: 16px;
      color: #fff;
      margin-top: 42px;
      border: 1px solid $brand_color;
      transition: all linear 0.3s;
      &:hover {
        color: $primary_color;
        background: transparent;
      }
    }
  }
  .sale_slide {
    .sale_items {
      text-align: center;
      position: relative;
      margin-right: 32px;

      .off {
        position: absolute;
        top: 20px;
        right: 20px;
        p {
          @include common_p;
          font-size: 14px;
          color: #fff;
          padding: 10px 20px;
          background: #bb6bd9;
          border-radius: 8px;
        }
      }
      img {
        width: 100%;
        height: 300px;
      }
      .items_text {
        padding: 32px 10px;
        background: #fff;
        border: 1px solid $border_color;
        border-top: none;
        border-bottom-right-radius: 16px;
        border-bottom-left-radius: 16px;
        h4 {
          @include common_p;
        }
        h5 {
          @include common_p;
          color: $border_color;
          padding-top: 10px;
          span {
            color: $brand_color;
            padding-left: 10px;
          }
        }
        p {
          padding-top: 24px;
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
}
