@import "../variables/variables";
@import "../mixins/mixins";

#footer {
  padding-top: 80px;
  .footer_text {
    p {
      @include common_p;
      width: 380px;
      padding-top: 16px;
    }
    ul {
      display: flex;
      gap: 24px;
      padding-top: 36px;
      li {
        a {
          font-size: 18px;
          padding: 6px 10px;
          background: $brand_color;
          color: #fff;
          border-radius: 8px;
          border: 1px solid $brand_color;
          transition: all linear 0.3s;
          &:hover {
            color: $brand_color;
            background: transparent;
          }
        }
      }
    }
  }
  .footer_menu {
    margin-left: 160px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
    .list {
      h4 {
        @include common_p;
        font-weight: bold;
        padding-bottom: 32px;
      }
      ul {
        display: flex;
        flex-direction: column;
        gap: 16px;

        li {
          a {
            @include common_p;
            font-size: 16px;
            transition: all linear 0.3s;
            &:hover {
              color: $brand_color;
            }
          }
        }
      }
      .contact {
        @include common_p;
        color: $brand_color;
        a {
          font-size: 16px;
          color: $secondary_color;
          margin-left: 10px;
          margin-bottom: 10px;
          transition: all linear 0.3s;
          &:hover {
            color: $brand_color;
          }
        }
      }
    }
  }
  .copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid $border_color;
    padding: 40px 0;
    p {
      @include common_p;
      span {
        color: $brand_color;
      }
    }
    ul {
      display: flex;
      gap: 10px;
      align-items: center;
    }
  }
}
