@import "../variables/variables";
@import "../mixins/mixins";

#join {
  padding: 100px 0;
  background: $brand_color;
  .join_text {
    text-align: center;
    h2 {
      @include common_h2;
      color: #fff;
      padding-bottom: 16px;
    }
    p {
      @include common_p;
      font-size: 16px;
      color: #fff;
    }
    .input {
      padding: 10px;
      background: #ffffff;
      width: 535px;
      border-radius: 16px;
      margin: 52px auto 0;
      display: flex;
      justify-content: space-between;
      input {
        border: none;
        margin-left: 25px;
      }
      button {
        @include common_p;
        color: #fff;
        padding: 16px 32px;
        background: $primary_color;
        border: none;
        border-radius: 16px;
        transition: all linear 0.3s;
        &:hover {
          background: $brand_color;
        }
      }
    }
  }
}
