@import "../variables/variables";
.menu {
  padding: 46px 0;
  .search {
    margin-left: 128px;
    input {
      background: #d0d0d2;
      color: #a7a7a7;
      border: none;
      &:hover {
        box-shadow: none;
      }
    }
    .s_btn {
      border-color: $brand_color;
      background: $brand_color;
      span {
        color: #fff;
      }
    }
  }
  .menu_list {
    margin-left: 100px;
    gap: 48px;
  }
  .menu_chart ul {
    display: flex;
    align-items: center;
    gap: 32px;
    li {
      position: relative;
      p {
        position: absolute;
        top: -15px;
        right: -18px;
        background: $brand_color;
        color: #fff;
        padding: 2px 6px;
        border-radius: 50%;
      }
      a {
        font-size: 28px;
        color: #000000;
      }
    }
  }
}
