@import "../variables/variables";
@import "../mixins/mixins";

#singleproduct_details {
  padding: 80px 0;

  .product_slide {
    .slide_items {
      img {
        width: 100%;
        height: 450px;
        border-radius: 8px;
      }
    }
  }

  .product_slide_sub {
    position: relative;

    .slide_items {
      padding: 10px;

      img {
        width: 100%;
        height: 100px;
        border-radius: 8px;
      }
    }

    .pre_arrow {
      position: absolute;
      top: 50%;
      left: -4%;
      transform: translateY(-50%);
      z-index: 999;
      font-size: 18px;
      color: $brand_color;
      padding: 4px 10px;
      background: #fff;
      border-radius: 8px;
      cursor: pointer;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .next_arrow {
      position: absolute;
      top: 50%;
      right: -4%;
      transform: translateY(-50%);
      z-index: 999;
      font-size: 18px;
      color: $brand_color;
      padding: 4px 10px;
      background: #fff;
      border-radius: 8px;
      cursor: pointer;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
  }

  .menu_tag {
    display: flex;
    gap: 16px;
    align-items: center;
    color: $border_color;

    a {
      display: block;
      color: $border_color !important;
      @include common_p;
    }

    .about {
      color: $brand_color !important;
    }
  }
  .product_details {
    border-bottom: 1px solid $border_color;
    padding-left: 10px;
    .review {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 32px;
      .rating {
        display: flex;
        gap: 8px;
        p {
          @include common_p;
        }
        ul {
          display: flex;
          gap: 5px;
          li {
            color: #ffd687;
          }
        }
        .sold {
          padding-left: 8px;
          p {
            color: $border_color;
            span {
              border-right: 1px solid $border_color;
              padding-right: 8px;
            }
          }
        }
      }
      .add {
        display: flex;
        align-items: center;
        gap: 8px;
        span {
          color: $brand_color;
        }
        h5 {
          @include common_p;
          font-weight: 500;
        }
      }
    }
    .product_name {
      h2 {
        @include common_h2;
        font-weight: 400;
        padding-top: 16px;
      }
      .price {
        display: flex;
        gap: 16px;
        align-items: center;
        padding: 16px 0 48px;
        p {
          display: flex;
          align-items: center;
          gap: 14px;
          @include common_h2;
          span {
            @include common_p;
            color: $border_color;
          }
        }
        a {
          @include common_p;
          font-weight: 500;
          color: $brand_color;
          border: 1px solid $brand_color;
          padding: 10px;
          border-radius: 8px;
        }
      }
    }
    .offer {
      display: flex;
      gap: 32px;
      padding-bottom: 32px;
      .offer_item {
        display: flex;
        align-items: center;
        gap: 12px;
        img {
          width: 32px;
          height: 32px;
        }
        p {
          @include common_p;
          font-size: 16px;
        }
      }
    }
  }
  .description_text {
    h4 {
      @include common_p;
      font-weight: 500;
      padding: 32px 0 16px;
    }
    p {
      @include common_p;
      color: $border_color;
      font-size: 16px;
    }
  }
  .quantity {
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    .quantity_items {
      display: flex;
      align-items: center;
      gap: 20px;
      p {
        @include common_p;
        color: $border_color;
      }
      .symble {
        display: flex;
        p {
          padding: 10px 20px;
          background: $brand_color;
          border-radius: 8px;
        }
        .minus {
          background: $border_color;
          color: $primary_color;
        }
        .one {
          background: transparent;
          color: $brand_color;
        }
        .plus {
          color: #fff;
        }
      }
    }
    .quantity_chart {
      display: flex;
      gap: 16px;
      .chat {
        color: $brand_color;
        background: transparent;
      }
      a {
        @include common_p;
        font-size: 16px;
        padding: 16px 30px;
        display: inline-block;
        border: 1px solid $brand_color;
        border-radius: 8px;
        background: $brand_color;
        color: #fff;
        transition: all linear 0.3s;
        &:hover {
          background: transparent;
          color: $brand_color;
        }
      }
    }
  }
  .review_description {
    padding-top: 64px;
    ul {
      display: flex;
      gap: 40px;
      .all_review {
        a {
          padding-bottom: 10px;
          border-bottom: 1px solid $brand_color;
          color: $brand_color;
        }
      }
      li {
        a {
          @include common_p;
          padding-bottom: 10px;
          transition: all linear 0.3s;
          &:hover {
            border-bottom: 1px solid $brand_color;
            color: $brand_color;
          }
        }
      }
    }
    .review_details {
      padding-top: 64px;
      .review_items {
        padding-bottom: 32px;
        border-right: 1px solid #a7a7a75a;
        padding-right: 32px;
        .review_text {
          display: flex;
          gap: 16px;
          align-items: center;
          img {
            width: 56px;
            height: 56px;
            border-radius: 8px;
          }
          .review_name {
            h4 {
              @include common_p;
              font-weight: 500;
            }
            .rating_points {
              display: flex;
              gap: 16px;
              align-items: center;
              padding-top: 10px;
              h6 {
                @include common_p;
                color: $brand_color;
              }
              ul {
                display: flex;
                gap: 5px;
                li {
                  color: #ffd687;
                }
              }
              .month {
                @include common_p;
                color: $border_color;
                font-weight: 16px;
                padding-top: 0;
              }
            }
          }
        }
        p {
          @include common_p;
          font-size: 16px;
          width: 100%;
          padding-top: 24px;
        }
      }
    }
  }
  .add_review_details {
    padding-top: 166px;
    padding-left: 32px;
    .add {
      h4 {
        @include common_p;
        font-weight: 800;
      }
      p {
        @include common_p;
        width: 480px;
        padding: 16px 0 40px;
      }
    }
    // .review_from {
    //   .common_input {
    //     display: flex;
    //     flex-direction: column;
    //     padding-bottom: 32px;
    //     label {
    //       @include common_p;
    //       padding-bottom: 16px;
    //     }
    //     input {
    //       height: 40px;
    //       border: 1px solid $border_color;
    //       border-radius: 8px;
    //     }
    //   }
    //   .input_review {
    //     textarea {
    //       border: 1px solid $border_color;
    //       border-radius: 8px;
    //     }
    //   }
    //   .review_rating {
    //     display: flex;
    //     gap: 16px;
    //     align-items: center;
    //     padding-bottom: 60px;
    //     p {
    //       @include common_p;
    //       font-weight: 500;
    //     }
    //     ul {
    //       display: flex;
    //       gap: 4px;
    //       align-items: center;
    //       li {
    //         i {
    //           color: #ffd687;
    //         }
    //         .not_rating {
    //           color: $border_color;
    //         }
    //       }
    //     }
    //   }
    //   button {
    //     padding: 15px 50px;
    //     border-radius: 8px;
    //     background: $brand_color;
    //     @include common_p;
    //     color: #fff;
    //     border: 1px solid $brand_color;
    //     transition: all linear 0.3s;
    //     &:hover {
    //       color: $brand_color;
    //       background: transparent;
    //     }
    //   }
    // }
    .review_from {
      form {
        display: flex;
        flex-direction: column;
        gap: 16px;
        label {
          @include common_p;
        }
        input {
          border: 1px solid $border_color;
          border-radius: 8px;
          height: 40px;
          margin-bottom: 16px;
        }
        textarea {
          border: 1px solid $border_color;
          border-radius: 8px;
        }
        .submit {
          @include common_p;
          color: #fff;
          width: fit-content;
          padding: 15px 50px;
          background: $brand_color;
          border: 1px solid $brand_color;
          border-radius: 8px;
          height: 100%;
          transition: all linear 0.3s;
          &:hover {
            color: $brand_color;
            background: transparent;
          }
        }
        .review_rating {
          display: flex;
          gap: 16px;
          align-items: center;
          padding: 26px 0 60px;
          p {
            @include common_p;
            font-weight: 500;
          }
          ul {
            display: flex;
            gap: 4px;
            align-items: center;
            li {
              i {
                color: #ffd687;
              }
              .not_rating {
                color: $border_color;
              }
            }
          }
        }
      }
    }
  }
}
