@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
$primary_font: "Poppins", sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
$heading_font: "Montserrat", sans-serif;

// ===========color==========
$brand_color: #f46b5b;
$primary_color: #000000;
$secondary_color: #383838;
