* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  display: inline-block;
}
img {
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol {
  margin: 0;
  padding: 0;
}
